<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Peoplr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"  %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<%= evil_icons_sprite %>

	<%= render "layouts/header" %>
    <%= yield %>
	<%= render "layouts/footer" %>

  </body>

</html>
